# Local development dependencies go here
-r requirements.txt

zappa==0.51.0
pylint==2.4.4
pylint-flask==0.6
pytest==5.4.1
awscli==1.18.36
pyyaml>=5.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.18 # not directly required, pinned by Snyk to avoid a vulnerability
